kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.ui.service.name }}
  labels:
    release: {{ .Release.Name }}
spec:
  type: LoadBalancer
  selector:
    app: ui
  ports:
  - port: {{ .Values.ui.service.externalPort }}
    targetPort: {{ .Values.ui.service.targetPort }}
---
kind: Service
apiVersion: v1
metadata:
  name: {{ .Values.ui.service.name }}
  namespace: monitoring
  labels:
    release: {{ .Release.Name }}
spec:
  type: ExternalName
  externalName: {{ .Values.ui.service.name }}.application-namespace.svc.cluster.local
  ports:
  - port: {{ .Values.ui.service.externalPort }}
